.about {
    text-align: center;
    background-color: #FFF5F6;
    padding-bottom: 20px;

    &__photo {
        display: block;
    }

    &__title {
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 34px;
        line-height: 1,1px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--accent-color);

        margin-bottom: 32px;
    }
        &__title--element {
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 18px;
        line-height: 1,6;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--brand-color);

        margin-bottom: 15px;
        }

        &__meta {
            background-image: url(../images/about__bg.png);
            background-repeat: no-repeat;
            background-position: left 0px top 381px;
        }

        &__meta--title {
            max-width: 220px;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.6;
            text-align: left;

            margin-bottom: 40px;
        }

        &__description {
            max-width: 220px;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.6;
            text-align: left;
            margin-bottom: 20px;
            color:var(--secondary-text-color);
        }

        &__btn {
            display: inline-flex;
            width: 176px;
            padding: 10px 28px;
            color: var(--accent-color);
            background-color: var(--third-text-color);

            border: 1px solid transparent;
            border-radius: 22px;
        }

        &__btn:hover,
        &__btn:focus {
            color: var(--third-text-color);
            background-color: var(--accent-color);
        }

        &__btn--icon {
            fill: currentColor;
        }
}