.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__box {
  padding-top: 40px;
  padding-bottom: 87px;
  background-color: #fff5f6;
  width: 100%;
}
.advantages-list__title {
  font-size: 36px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  width: 98px;
  height: 56px;
}

.advantages-list__item {
  margin-bottom: 32px;
}

.advantages-icon {
  margin-bottom: 16px;
}
.advantages-list__text {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
}
