.advantages {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fff5f6;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__box {
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   justify-content: space-around;
  // }
}

.advantages-list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    // display: flex;
    flex-direction: row;
    justify-content: flex-start;
    columns: 3;
    column-gap: 22px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.advantages-list__card {
  text-align: left;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 40px;
  }
}
.advantages-list__title {
  font-size: 36px;
  color: var(--accent-color);
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  width: 98px;
  height: 56px;
  margin-bottom: 4px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.advantages-list__item {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    // max-width: 197px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    // max-width: 300px;
  }
}

.advantages-list__item::before {
  display: block;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.icon-milk::before {
  background-image: url('/src/images/milk-mobile.png');
  @media screen and (min-width: 768px) {
    background-image: url('/src/images/milk.png');
  }
}

.icon-apples::before {
  background-image: url('/src/images/apples.png');
}

.icon-heart::before {
  background-image: url('/src/images/heart.png');
}

.advantages-list__text {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.7;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
  }
}
