.contacts {
    background-color: #FFF5F6;;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 32px;
@media screen and (min-width:768px){
    flex-direction: row;
    gap: 32px;
    margin-bottom: 60px;
}

    }

    &__item {

        background-color: var(--third-text-color);
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        padding: 40px 32px;
        @media screen and (min-width:768px){
            padding: 40px 32px;
            width: 224px;
        }
        @media screen and (min-width:1200px){
            width: 368px;
        }
    }
}

.card {
@media screen and (min-width:768px){
    width: 159px;}
    @media screen and (min-width:1200px){
        width: 288px;
    }

    &__type {
        display: inline-flex;
        margin-bottom: 20px;
        padding: 1px 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.8;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--third-text-color);

        background-color: #F0D1A5;
        border: 1px solid transparent;
        border-radius: 4px;
        @media screen and (min-width:768px){
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 32px;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__type--foodtruck {
        display: inline-flex;
        margin-bottom: 20px;
        padding: 1px 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.8;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--third-text-color);
    
        background-color: #C2E297;
        border: 1px solid transparent;
        border-radius: 4px;
        @media screen and (min-width:768px){
            font-size: 16px;
            line-height:  1.6;
            margin-bottom: 32px;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__meta {
        padding-bottom: 24px;
        border-bottom: 1px solid #E1E1E1;
        @media screen and (min-width:1200px){
            padding-bottom: 32px;
        }
    }

    &__location {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.8;       
        letter-spacing: 0.04em;

        margin-bottom: 12px;
        
        color: #000000;
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
            margin-bottom: 8px;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__location--description {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        
        
        color: #907E82;
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__openings {
        margin-top: 24px;
        padding-bottom: 24px;

        border-bottom: 1px solid #E1E1E1;
        @media screen and (min-width:768px){
            margin-top: 32px;
        padding-bottom: 32px;
        }
    }

    &__openings--days {
        font-weight: 500;
        font-size: 12px;
        line-height:  1.6;
        
        color: #000000;
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__openings--time{
        font-weight: 500;
        font-size: 12px;
        line-height:  1.6;

        text-transform: uppercase;

        margin-bottom: 8px;

        color: var(--brand-color);
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
            margin-bottom: 12px;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }
    &__openings--time:last-child{
        margin-bottom: 0;
    }
    &__contacts {
        margin-top: 24px;
        @media screen and (min-width:768px){
            margin-top: 32px;
        }
    }

    &__contact-details {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #907E82;
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__contact-details:focus,
    &__contact-details:hover {
        color: var(--accent-color);
        transform: scale(1.1);
    }
}

.address-btn {
    display: block;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 13px 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: var(--third-text-color);
    background-color: var(--accent-color);

    transition: transform 250ms var(--animation-function),
                color 250ms var(--animation-function),
                background-color 250ms var(--animation-function);
                @media screen and (min-width:768px){
                    flex-direction: row;
                }
                @media screen and (min-width:768px){
                    margin-bottom: 0;
                    margin-right: 14px;
                    padding: 13px 34px 13px 30px;
                }
                @media screen and (min-width:1200px){
                    padding: 13px 35px 13px 35px;
                }
}

.franchise-btn {
    display: block;
    border-radius: 20px;
    padding: 13px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: var(--accent-color);
    background-color: var(--third-text-color);

    transition: transform 250ms var(--animation-function),
                color 250ms var(--animation-function),
                background-color 250ms var(--animation-function);
                @media screen and (min-width:768px){
                    padding: 13px 37px 13px 37px;
                }
                @media screen and (min-width:1200px){
                    padding: 13px 37px 13px 37px;
                }
}

.address-btn:hover,
.address-btn:focus {
    color: var(--accent-color);
    background-color: var(--third-text-color);
    transform: scale(1.2);
}

.franchise-btn:hover,
.franchise-btn:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    transform: scale(1.2);
}
.container-contacts{
    padding: 140px 16px 40px 16px;
}
.button-box{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
@media screen and (min-width:768px){
    flex-direction: row;
}
}
.modal{
    display: block;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color:#FFA5BA;
    width: 530px;
    height: 581px;
    border-radius: 24px;
    position: fixed;
&__button{       
    width: 38px;
    height: 38px;
    fill: #D41443;
    background-color:rgba(255, 255, 255, 1) ;
    border:1px solid rgba(0, 0, 0, 0.1) ;
    border-radius: 50% 50%;
    top:15px;
    right: 15px;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &:focus &__svg{
        transform: rotate(90deg);
    }
}
&__svg{
    width: 15px;
    height: 15px;
}
}
.backdrop{
position: fixed;
width: 100%;
height: 100%;
background-image:linear-gradient(to top left,rgba(198,226,151,0.5),rgba(212,20,67,0.5));
top: 0;
left: 0;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }