.contacts {
    background-color: #FFF5F6;;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 32px;
@media screen and (min-width:768px){
    flex-direction: row;
    gap: 32px;
    margin-bottom: 60px;
}

    }

    &__item {

        background-color: var(--third-text-color);
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        padding: 40px 32px;
        @media screen and (min-width:768px){
            padding: 40px 32px;
            width: 224px;
        }
        @media screen and (min-width:1200px){
            width: 368px;
        }
    }
}

.card {
@media screen and (min-width:768px){
    width: 159px;}
    @media screen and (min-width:1200px){
        width: 288px;
    }

    &__type {
        display: inline-flex;
        margin-bottom: 20px;
        padding: 1px 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.8;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--third-text-color);

        background-color: #F0D1A5;
        border: 1px solid transparent;
        border-radius: 4px;
        @media screen and (min-width:768px){
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 32px;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__type--foodtruck {
        display: inline-flex;
        margin-bottom: 20px;
        padding: 1px 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.8;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--third-text-color);
    
        background-color: #C2E297;
        border: 1px solid transparent;
        border-radius: 4px;
        @media screen and (min-width:768px){
            font-size: 16px;
            line-height:  1.6;
            margin-bottom: 32px;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__meta {
        padding-bottom: 24px;
        border-bottom: 1px solid #E1E1E1;
        @media screen and (min-width:1200px){
            padding-bottom: 32px;
        }
    }

    &__location {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.8;       
        letter-spacing: 0.04em;

        margin-bottom: 12px;
        
        color: #000000;
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
            margin-bottom: 8px;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__location--description {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        
        
        color: #907E82;
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__openings {
        margin-top: 24px;
        padding-bottom: 24px;

        border-bottom: 1px solid #E1E1E1;
        @media screen and (min-width:768px){
            margin-top: 32px;
        padding-bottom: 32px;
        }
    }

    &__openings--days {
        font-weight: 500;
        font-size: 12px;
        line-height:  1.6;
        
        color: #000000;
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__openings--time{
        font-weight: 500;
        font-size: 12px;
        line-height:  1.6;

        text-transform: uppercase;

        margin-bottom: 8px;

        color: var(--brand-color);
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
            margin-bottom: 12px;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }
    &__openings--time:last-child{
        margin-bottom: 0;
    }
    &__contacts {
        margin-top: 24px;
        @media screen and (min-width:768px){
            margin-top: 32px;
        }
    }

    &__contact-details {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #907E82;
        @media screen and (min-width:768px){
            font-size: 14px;
            line-height:  1.6;
        }
        @media screen and (min-width:1200px){
            font-size: 16px;
            line-height: 1.8;
        }
    }

    &__contact-details:focus,
    &__contact-details:hover {
        color: var(--accent-color);
        transform: scale(1.1);
    }
}

.address-btn {
    display: block;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 13px 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: var(--third-text-color);
    background-color: var(--accent-color);

    transition: transform 250ms var(--animation-function),
                color 250ms var(--animation-function),
                background-color 250ms var(--animation-function);
                @media screen and (min-width:768px){
                    flex-direction: row;
                }
                @media screen and (min-width:768px){
                    margin-bottom: 0;
                    margin-right: 14px;
                    padding: 13px 34px 13px 30px;
                }
                @media screen and (min-width:1200px){
                    padding: 13px 35px 13px 35px;
                }
}

.franchise-btn {
    display: block;
    border-radius: 20px;
    padding: 13px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: var(--accent-color);
    background-color: var(--third-text-color);

    animation: changeBgColorWhite 1000ms linear infinite alternate;

    transition: transform 250ms var(--animation-function),
                color 250ms var(--animation-function),
                background-color 250ms var(--animation-function);
                @media screen and (min-width:768px){
                    padding: 13px 37px 13px 37px;
                }
                @media screen and (min-width:1200px){
                    padding: 13px 37px 13px 37px;
                }
}

.address-btn:hover,
.address-btn:focus {
    color: var(--accent-color);
    background-color: var(--third-text-color);
    transform: scale(1.2);
}

.franchise-btn:hover,
.franchise-btn:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    transform: scale(1.2);
}
.container-contacts{
    padding: 140px 16px 40px 16px;
}
.button-box{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
@media screen and (min-width:768px){
    flex-direction: row;
}
}
.modal-1{
    display: block;
    left:50%;
    top:50%;
    height: 75vh;
    width: 90%;
    transform: translate(-50%,-50%);
    background-color:#FFA5BA;
    border-radius: 12px;
    position: fixed;
    z-index: 6;
    border: 2px solid #D41443;
    @media screen and (min-width:320px){
        width: 300px;
    }
    @media screen and (min-width:420px){
        width: 400px;
    }
    @media screen and (min-width:768px){
        width: 500px;
        }
    @media screen and (min-width:1200px){   
            width: 600px;
            } 
    &__map{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 12px;
       } 
}
.modal{
    display: block;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color:#FFA5BA;
    border-radius: 24px;
    position: fixed;
    z-index: 6;
    padding:40px 25px 30px 25px;
    width: 100%;
    @media screen and (min-width:320px){
        width: 280px;
    }
    @media screen and (min-width:420px){
        width: 380px;
        padding:45px 35px 35px 35px;
    }
    @media screen and (min-width:768px){
        width: 450px;
        padding:45px 30px 35px 25px;
        }
    @media screen and (min-width:1200px){   
            width: 528px;
            padding:50px 40px 40px 40px;
            } 
    &__text{
        font-weight: 700;
        font-size: 12px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
        box-sizing: border-box;
        color: #FFF;
        @media screen and (min-width:320px){   
            font-size: 15px;
        line-height: 1.3;}
            @media screen and (min-width:768px){   
                font-size: 20px;
            }
        line-height: 1.1;
                @media screen and (min-width:1200px){   
                    font-size: 20px;
                    line-height: 1.1;
    }
}
&__button{       
    width: 30px;
    height: 30px;
    fill: #D41443;
    background-color:rgba(255, 255, 255, 1) ;
    border:1px solid rgba(0, 0, 0, 0.1) ;
    border-radius: 50% 50%;
    top:10px;
    right: 10px;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:1200px){
    width: 38px;
    height: 38px;
    top:15px;
    right: 15px;
    }
    @media screen and (min-width:768px){
        width: 34px;
        height: 34px;
        top:12px;
        right: 12px;
        }
    &:hover,
    &:focus &__svg{
        transform: rotate(-90deg);
    }
}
&__svg{
    width: 12px;
    height: 12px;
    @media screen and (min-width:768px){
        width: 16px;
        height: 16px;
    }
}
}
.backdrop{
z-index: 8;
position: fixed;
width: 100%;
height: 100%;
background-image:linear-gradient(to top left,rgba(198,226,151,0.5),rgba(212,20,67,0.5));
top: 0;
left: 0;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
overflow: hidden;
    }
    .modal-form{
        display: block;
        flex-direction: column;
        &__button{box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            background-color: #D41443;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            border-width: 0;
            border-radius: 12px;
            padding: 10px 75px;
            margin-top: 30px;
            @media screen and(max-width:700px) {
                margin-top: 20px;
                }
        &--svg{margin-left: 10px;
               fill: #FFF; 
    }}   
            &__line{
                position: relative;
                display: block;
                margin-bottom: 28px;
                &:nth-child(3){
                    margin-bottom: 10px;
                }
            }
            &__input{        
                width: 100%;
                padding: 11px 0 11px 42px;
                border: 2px solid #212121;
                border-radius: 8px;
                box-sizing:border-box;
                height: 40px;
                transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                display: block;
                color: #212121;
                
    &:focus + span,
    &:focus{
        fill: #D41443;
        border-color:#D41443;
        outline: none;
    }
    & ~ span{
        position: absolute;
        top:11px;
        left: 12px;
        bottom: 11px;
        fill: #212121;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    }
    &__text{
    transform: translate(-12px,-32px);
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #907e82;
    @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: 1.2;
      }
     }
    }
    .textarea{
    margin-bottom: 20px;
    box-sizing: border-box; 
    display: block;
    &__area{
        margin-top: 4px;
        width: 100%;
        height:120px ;
        border: 2px solid #212121;
        border-radius: 8px;
        resize: none; 
        color: #212121; 
        padding: 12px 16px;
        box-sizing: border-box;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        @media screen and(max-height:700px) {
            height:80px ;
            }
        &:focus{
            outline: none;
            border-color: #D41443;  
        }
    }
    &__text{
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #907e82;
    @media screen and(min-width:768px) {
        font-size: 16px;
        line-height: 1.2;
        }
    }
    }
    .checkbox{        
        @media screen and(min-width:768px) {
        font-size: 16px;
        line-height: 1.2;
        }
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #fff;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    &__input{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        &:checked + .checkbox__icon{
            border-color: #D41443;
            background-image: url('../images/compressed-svg/icon-check.svg');
            background-color: #D41443;
            background-size: contain;
            background-origin:content-box;
            background-position: center;
    }
    }      
    &__icon{
        display: inline-block;
        width: 20px;
        height: 14px;
        border: 2px solid #212121;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        background-repeat: no-repeat;
        margin-right: 8px;
        transition: border-color,background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and(min-width:1200px) {
            width: 18px;
            height: 16px;
            }
    }
    &__accent{
        @media screen and(min-width:768px) {
            font-size: 14px;
            line-height: 1.2;
            }
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #D41443;
        text-decoration-line:underline;
     }
    }
    