.review {

    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    @media screen and (min-width:768px) {
            padding-bottom: 40px;
        }

        @media screen and (min-width:1200px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

    &__slider--box {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }    

    &__quote {
        max-width: 280px;
        padding: 43px 58px 26px 65px;
        margin: 0 auto;
        background-color: #FAFAFA;

        @media screen and (min-width: 768px) {
            max-width: 620px;
            width: 620px;
            padding: 20px 6px 33px 6px;
        }
            @media screen and (min-width:1200px) {
                max-width: 968px;
                width: 968px;
                padding: 32px 74px 27px 72px;
            }
}

    &__text {
        position: relative;

        font-weight: 500;
        font-size: 12px;
        line-height: 2.5;
        letter-spacing: 0.04em;

        background: repeating-linear-gradient(
            #FAFAFA, 
            #FAFAFA 29px,
            #E1E1E1 29px,
            #E1E1E1 30px);
        
        z-index: 2;

        @media screen and (min-width:768px) {
            font-size: 14px;
            line-height: 2.1;
            padding-left: 35px;
            padding-right: 45px;
            background: repeating-linear-gradient(#FAFAFA,
                        #FAFAFA 28px,
                        #E1E1E1 28px,
                        #E1E1E1 29px);
        }
            @media screen and (min-width:1200px) {
                font-size: 16px;
                line-height: 2;
                background: repeating-linear-gradient(#FAFAFA,
                        #FAFAFA 30px,
                        #E1E1E1 30px,
                        #E1E1E1 31px);
            }
    }

    &__text::after {
        position: absolute;
        top: -5%;
        left: -15%;
        content: url('../images/commas.png');

        z-index: -2;

        @media screen and (min-width:768px) {
              top: -15;
              left: 0;
            }
    }  

    &--decoration {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--accent-color);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--accent-color);
        }

        &::before {
            content: "";
            top: 0;
            right: -10px;
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--accent-color);
        }
    }
}

.img-review {
   
    &--box {
        display: block;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 20px;

        @media screen and (min-width:768px) {
            // margin-bottom: 16px;
        }
      
    }

}

.slider {
    margin-top: 16px;

    &__dot--container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;  
        margin-top: 16px;
        margin-bottom: 16px; 
    }

    &__meta {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.9;
        text-align: center;
        color: #000000;

        margin-bottom: 16px;

        @media screen and (min-width:768px) {
                font-size: 16px;
                line-height: 1.8;
                margin-bottom: 32px;
            }

            @media screen and (min-width:768px) {
                font-size: 20px;
                margin-bottom: 32px;
            }
    }

    &__switcher--container {
        text-align: center;
    }

    &__switcher {
        display: block;
        width: 12px;
        height: 12px;
        color: #D9D9D9;
    
        margin: 0 3px;
        background-color: #D9D9D9;
        border-radius: 50%;
        display: inline-block;
    }
}

.active,
.skider__switcher:hover {
    background-color: var(--accent-color);
}

.slick-slider {

}

.slick-prev {

}

.slick-slide img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

        @media screen and (min-width:768px) {
            margin-bottom: 20px;
        }
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.slick-dots li {
    font-size: 0px;
    border: none;
}

.slick-dots li button {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    color: var(--third-text-color);
}

.slick-dots li.slick-active button {
    display: block;
    width: 12px;
    height: 12px;
    background-image: url('../images/home.svg');
    background-color: transparent;
    border-radius: 0%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}