.footer{
    background-color: var(--brand-color);

.container{
    margin-bottom:49px;
  }

  &__text{
    max-width:234px;
    margin-bottom:43px;
  } 

  &__text-title{
   font-family:var(--secondary-font);
   font-size: 18px;
   line-height: 1.667;
   text-transform: uppercase;
   color: var(--brand-color);
   margin-bottom:30px;
  }

  &__text-slog{
   font-family:var(--secondary-font);
   font-size: 34px;
   line-height: 1.147;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color:var(--accent-color);
  }

   &__social-list{
    display: flex;
    justify-content:flex-end;
    margin-bottom:46px;
  }

  &__social-item:not(:last-child){
    margin-right:30px;
  }
    
  &__social-sprite {
   display: flex;
   width: 32px;
   height: 32px;
   color:var(--third-text-color);
   background-color:#fea5bb;
   border-radius: 50%;
   justify-content: center;
   align-items: center;

   transition-property: background-color;
   transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    
    &:hover,
    &:focus {
      background-color:var(--accent-color);
      color:var(--third-text-color)
    }
  } 
     
  &__social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &__contact-tel{
    display: flex;
    justify-content:flex-end;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.833;
    color: var(--primary-text-color);
  }

  &__contact-link{
    margin-left: 3px;
    color:var(--accent-color);
  }

  &__copyright{
    border-top:1px solid #E1E1E1;
    min-height:83px;
    display:flex;
    justify-content:center;
    align-items: center;
  }

  &__copyright-text{
    width: 180px;
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-text-color);
    padding: 0 20px;
  }
}