.header {
  background-color: var(--header-background);
  overflow: hidden;

  // &:hover {
  //   animation-name: changeBgColor;
  //   animation-duration: 3000ms;
  //   animation-duration: 5s;
  //   animation-timing-function: linear;
  //   animation-iteration-count: infinite;
  // }

  // @keyframes changeBgColor {
  //   0% {
  //     background-color: teal;
  //   }

  //   50% {
  //     background-color: orange;
  //   }

  //   100% {
  //     background-color: deepskyblue;
  //   }
  // }

  &__nav {
    z-index: 4;
    position: fixed;
    top: 8px;
    left: 20px;
    display: flex;
    width: 100vw;
    padding: 8px 20px;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      padding: 32px 32px 5px 32px;
    }

    @media screen and (min-width: 1200px) {
      padding: 37px 16px 5px 16px;
    }

    // Remove style if needed: glass background-----------------------

    background: #ffffff33;
    box-shadow: 0 8px 32px 0 var(--header-menu),
      inset 0 0 10px 5px var(--header-menu);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    border-bottom: 1px solid var(--header-menu);

    // Remove style if needed: glass background-----------------------

    transform: translate3d(-20px, -8px, 0);
  }

  &__link {
    display: inline-flex;
  }

  &__logo {
    width: 199px;
    height: 50px;
  }

  &__switcher {
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 32px;
    margin-left: auto;

    background-color: transparent;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__icon {
    &--invite {
      width: 10px;
      height: 10px;

      transition: transform 250ms var(--animation-function);

      .header__order:hover &,
      .header__order:focus & {
        transform: translate3d(15px, 0, 0);
      }
    }
  }

  &__invite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    height: 100%;
    stroke: var(--accent-color);
    fill: transparent;

    @media screen and (min-width: 768px) {
      margin-left: 20px;
    }

    &--none {
      margin-left: 12px;
    }
  }

  &__arrow {
    stroke: var(--accent-color);
    fill: transparent;
  }

  &__open {
    width: 20px;
    height: 14px;
    stroke: var(--accent-color);

    opacity: 1;

    transform-origin: center center;

    transition: opacity 250ms var(--animation-function),
      transform 250ms var(--animation-function);

    .header__switcher.is-open & {
      transform: rotate(180deg) scale(3);
      opacity: 0;
    }
  }

  &__close {
    width: 16px;
    height: 16px;
    stroke: var(--third-text-color);

    opacity: 0;

    transform-origin: center center;

    transition: opacity 250ms var(--animation-function),
      transform 250ms var(--animation-function);

    .header__switcher.is-open & {
      transform: rotate(180deg) scale(3);
      opacity: 1;
    }
  }

  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    padding: 100px 20px 20px 20px;

    height: 100vh;
    width: 100vw;
    z-index: 5;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    background-color: var(--header-menu);
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(4px);

    transform: translate3d(100%, 0, 0);
    transition: opacity 250ms var(--animation-function),
      transform 250ms var(--animation-function),
      visibility 250ms var(--animation-function);

    &.is-open {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;

    &--desktop {
      display: none;
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
    }
  }

  &__order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
    max-height: 44px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 62px;
    padding-right: 48px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;

    @media screen and (min-width: 768px) {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 52px;
      padding-right: 42px;
    }

    // Remove style if needed: shadow on buttons
    box-shadow: 0 4px 8px 0 var(--header-menu),
      inset 0 0 2px 0 var(--header-menu);

    color: var(--accent-color);
    background-color: #fff;

    border-radius: 22px;

    transition: background-color 250ms var(--animation-function),
      transform 250ms var(--animation-function),
      box-shadow 700ms var(--animation-function);

    &:hover,
    &:focus {
      background-color: var(--header-anchor);
      transform: scale(1.3);
      box-shadow: 0 4px 8px 0 var(--accent-color),
        inset 0 0 2px 0 var(--accent-color);
    }

    &--none {
      display: none;
      margin: 0;
      z-index: 3;
      padding-left: 40px;
      padding-right: 36px;
      max-width: 165px;
      width: 100%;

      @media screen and (min-width: 768px) {
        display: flex;
      }

      transition: background-color 250ms var(--animation-function),
        transform 250ms var(--animation-function),
        box-shadow 700ms var(--animation-function);

      &:hover,
      &:focus {
        background-color: var(--header-anchor);
        transform: translate3d(-10px, -5px, 0) scale(1.15);

        @media screen and (min-width: 1200px) {
          transform: translate3d(-30px, -10px, 0) scale(1.15);
        }
      }
    }
  }

  &__item {
    display: inline-flex;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__mobile-item {
    display: inline-flex;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    &:nth-child(n) {
      border-top: 1px solid #e1849ab3;
    }

    &:last-child {
      border-bottom: 1px solid #e1849ab3;
    }
  }

  &__anchor {
    display: flex;
    align-items: center;
    height: 42px;
    width: 100%;
    color: var(--third-text-color);
    border-radius: 20px;

    transition: color 250ms var(--animation-function),
      box-shadow 250ms var(--animation-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
      box-shadow: inset 0 0 16px 0;
    }

    &--clear {
      &:hover,
      &:focus {
        color: var(--accent-color);
        box-shadow: none;
      }
    }
  }

  &__jump-to {
    // Remove style if needed: shadow on text
    text-shadow: 1px 1px 3px var(--header-background);

    transition: transform 250ms var(--animation-function);

    .header__anchor:hover &,
    .header__anchor:focus & {
      transform: scale(1.33) translate3d(66px, 0, 0);
    }

    @media screen and (min-width: 768px) {
      .header__anchor:hover &,
      .header__anchor:focus & {
        transform: scale(2) translate3d(100px, 0, 0);
      }
    }

    @media screen and (min-width: 1200px) {
      .header__anchor:hover &,
      .header__anchor:focus & {
        transform: scale(1.35) translate3d(0, 0, 0);
      }
    }

    &--accent {
      text-shadow: 1px 3px 10px var(--accent-color);
    }
  }
}

.mobile-order {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 320px;
  width: 100%;
  height: 100%;
  top: 75px;
  z-index: 4;
  pointer-events: none;

  background-color: #ffffff90;
  box-shadow: 0 8px 32px 0 var(--header-menu),
    inset 0 0 10px 5px var(--header-menu);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-top-left-radius: 22%;
  border-top-right-radius: 22%;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;

  border-bottom: 1px solid var(--header-menu);

  transform-origin: center center;
  transform: rotateY(90deg);
  transition: transform 500ms var(--animation-function);

  &.order-mobile-open {
    transform: rotateY(0);
    pointer-events: all;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.order-now {
  position: absolute;
  display: none;
  @media screen and (min-width: 768px) {
    top: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 92vh;
    z-index: 2;
    padding: 30px;

    background-color: #ffffff33;
    box-shadow: 0 8px 32px 0 var(--header-menu),
      inset 0 0 10px 5px var(--header-menu);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(6px);

    border-top-left-radius: 33%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 33%;
    border-bottom-right-radius: 33%;

    border: 1px solid var(--header-menu);

    transform-origin: top center;
    transform: rotateX(180deg) perspective(200px);

    pointer-events: none;
    opacity: 0;
    transition: transform 1400ms var(--animation-function),
      opacity 1400ms var(--animation-function);

    &.order-open {
      opacity: 1;
      transform: rotateX(0);
      pointer-events: all;
    }
  }

  &__info {
    display: flex;
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-size: 70px;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-align: center;

    text-shadow: -10px -5px 3px var(--header-menu);

    @media screen and (min-width: 768px) {
      font-size: 100px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 170px;
    }
  }
}

.hero {
  padding: 194px 0 0 0;
  max-height: 502px;
  height: 100vh;

  @media screen and (min-width: 768px) {
    max-height: 416px;
    padding-top: 102px;
  }

  @media screen and (min-width: 1200px) {
    max-height: 664px;
    padding: 147px 0 0 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  &__blurry {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    backdrop-filter: blur(6px);

    opacity: 0;

    // Blurry background of Hero
    background: #ffffff33;
    box-shadow: 0 8px 32px 0 var(--header-menu);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-bottom-left-radius: 33%;
    border-bottom-right-radius: 33%;

    border-bottom: 3px solid #ffffff2e;
    //

    transform: translate3d(0, -100%, 0);


    transition: opacity 250ms var(--animation-function),
      transform 1000ms var(--animation-function) 100ms;

    .hero.is-blurry & {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    .hero.order-blurry & {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__box {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    height: 100%;
    padding-bottom: 56px;

    @media screen and (min-width: 1200px) {
      padding-bottom: 84px;
    }

    &--hidden {
      display: none;
      padding: 0;

      @media screen and (min-width: 768px) {
        display: inline-flex;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 220px;
    width: 100%;

    font-family: var(--secondary-font);
    color: var(--third-text-color);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
      max-width: 165px;
      font-size: 22px;
      line-height: 1.13;
    }

    @media screen and (min-width: 1200px) {
      max-width: 230px;
      font-size: 38px;
      line-height: 1.15;
    }
  }

  &__label {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 48px;
    line-height: 0.965;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.905;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 58px;
      letter-spacing: 0.04em;
    }
  }

  &__anchor {
    display: inline-flex;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
    max-width: 83px;
    width: 100%;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    background-color: var(--accent-color);
    color: var(--third-text-color);

    box-shadow: inset 0 0 2px 0 var(--header-menu);

    @media screen and (min-width: 1200px) {
      max-width: 140px;
      padding-top: 11px;
      padding-bottom: 11px;
      font-size: 14px;
      line-height: 1.28;
    }

    transition: transform 250ms var(--animation-function),
      box-shadow 250ms var(--animation-function);

    &:hover,
    &:focus {
      transform: scale(1.3) translate3d(-5px, 0, 0);
      box-shadow: 0 7px 20px 2px var(--header-menu);
    }

    &--inversed {
      background-color: #fff;
      color: var(--accent-color);
      margin-left: 8px;

      box-shadow: 0 4px 8px 0px var(--header-menu),
        inset 0 0 2px 2 var(--header-menu);

      @media screen and (min-width: 1200px) {
        margin-left: 12px;
      }

      transition: transform 250ms var(--animation-function),
        box-shadow 250ms var(--animation-function);

      &:hover,
      &:focus {
        transform: scale(1.3) translate3d(7px, 0, 0);
        box-shadow: 0 7px 20px 2px var(--header-menu);
      }
    }
  }

  &__hidden {
    display: none;
    padding-left: 152px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      padding-left: 213px;
    }
  }

  &__paragraph {
    display: flex;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    max-width: 122px;
    margin-bottom: 7px;

    color: var(--third-text-color);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.4;
      max-width: 200px;
      margin-bottom: 20px;
    }
  }

  &__link {
    width: 100%;
  }

  &__explanation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 18px;
    width: 18px;

    background-color: var(--third-text-color);
    transition: transform 250ms var(--animation-function),
      background-color 250ms var(--animation-function),
      box-shadow 250ms var(--animation-function);

    .hero__link:hover &,
    .hero__link:focus & {
      transform: scale(1.3) translate3d(33px, 0, 0);
      background-color: var(--header-anchor);
      box-shadow: 0 5px 10px 6px var(--header-menu);
    }

    @media screen and (min-width: 1200px) {
      height: 26px;
      width: 26px;
    }
  }

  &__icecream {
    z-index: 1;
    position: absolute;
    left: 42px;
    bottom: 0;

    transform-origin: center bottom;

    // Animation
    animation-name: moveIceCream;
    animation-duration: 1300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
    // Animation

    @media screen and (min-width: 768px) {
      left: 248px;
      max-width: 335px;
      max-height: 373px;
      width: 100%;

      // Animation
      animation-name: moveIceCream768;
      animation-duration: 2000ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      // Animation
    }

    @media screen and (min-width: 1200px) {
      left: 517px;
      max-width: 534px;
      max-height: 611px;
    }
  }

  &__milk {
    z-index: 1;
    position: absolute;
    display: none;

    max-width: 152px;
    max-height: 154px;
    width: 100%;

    left: 32px;
    bottom: 16px;

    // Animation
    opacity: 0;
    animation-name: moveMilk;
    animation-duration: 1300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1750ms;
    // Animation

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      bottom: 60px;
      max-width: 213px;
      max-height: 216px;

      // Animation
      animation-name: moveMilk1200;
      animation-duration: 1300ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-delay: 1750ms;
      // Animation
    }
  }

  &__girl {
    z-index: 1;
    position: absolute;
    display: none;

    max-width: 190px;
    max-height: 150px;
    width: 100%;

    right: 32px;
    bottom: 0;

    // Animation
    opacity: 0;
    animation-name: moveGirl;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3000ms;
    // Animation

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      max-width: 304px;
      max-height: 241px;

      // Animation
      animation-name: moveGirl1200;
      animation-duration: 1500ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-delay: 3000ms;
      // Animation
    }
  }

  &__amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding-right: 10px;

    font-family: var(--secondary-font);
    color: var(--accent-color);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    z-index: 2;

    & + & {
      margin-top: 16px;
      @media screen and (min-width: 1200px) {
        margin-top: 15px;
      }
    }

    @media screen and (min-width: 1200px) {
      min-height: 70px;
      padding-right: 18px;
      font-size: 46px;
      line-height: 1.15;
    }
  }

  &__description {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.005em;
    color: var(--third-text-color);
    text-transform: lowercase;
  }

  &__circle {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    background-color: var(--third-text-color);
    border-radius: 50%;

    z-index: -1;

    @media screen and (min-width: 1200px) {
      width: 30px;
      height: 30px;
    }
  }
}

// @keyframes moveIceCream {
//   0% {
//     transform: rotate(-90deg) translateX(0);
//     opacity: 0;
//   }
//   15% {
//     transform: translateX(20) rotate(20deg);
//     opacity: 1;
//   }
//   37% {
//     opacity: 1;
//     transform: translateX(20) rotate(-15deg);
//   }
//   49% {
//     transform: translateX(20) rotate(10deg);
//     opacity: 1;
//   }
//   75% {
//     transform: translateX(20) scale(1.2);
//     opacity: 1;
//   }
//   100% {
//     transform: translateX(20) scale(1);
//     opacity: 1;
//   }
// }

@keyframes moveIceCream {
  0% {
    transform: rotate(-90deg) translateX(-400px);
    opacity: 0;
  }
  4% {
    transform: rotate(-70deg) translateX(-320px);
  }
  7% {
    transform: rotate(-50deg) translateX(-240px);
  }
  10% {
    transform: rotate(-30deg) translateX(-160px);
  }
  13% {
    transform: rotate(-10deg) rotate(0) translateX(-80px);
  }
  23% {
    transform: rotate(20deg) translateX(0);
  }

  37% {
    transform: rotate(-15deg) scale(1);
    opacity: 1;
  }
  62% {
    transform: rotate(0) translateX(0) cale(1.2);
    opacity: 1;
  }
  70% {
    transform: scale(1.2) translateX(0);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

@keyframes moveIceCream768 {
  0% {
    transform: rotate(-90deg) translateX(-400px);
    opacity: 0;
  }
  4% {
    transform: rotate(-70deg) translateX(-320px);
  }
  7% {
    transform: rotate(-50deg) translateX(-240px);
  }
  10% {
    transform: rotate(-30deg) translateX(-160px);
  }
  13% {
    transform: rotate(-10deg) rotate(0) translateX(-80px);
  }
  23% {
    transform: rotate(20deg) translateX(0);
  }

  37% {
    transform: rotate(-15deg);
    opacity: 1;
  }
  62% {
    transform: rotate(0) translateX(0);
    opacity: 1;
  }
  70% {
    transform: scale(1.2) translateX(0);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

@keyframes moveMilk {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate3d(200px, -200px, 0) rotate(0);
  }
  50% {
    opacity: 1;
    transform: translate3d(200px, -200px, 0) rotate(45deg);
  }
  70% {
    opacity: 1;
    transform: translate3d(200px, -200px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes moveMilk1200 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate3d(500px, -300px, 0) rotate(0);
  }
  50% {
    opacity: 1;
    transform: translate3d(500px, -300px, 0) rotate(45deg);
  }
  70% {
    opacity: 1;
    transform: translate3d(500px, -300px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes moveGirl {
  0% {
    transform: translate3d(500px, -100px, 0);
    opacity: 0;
  }
  20% {
    transform: translate3d(-150px, -70px, 0) rotate(-40deg);
    opacity: 1;
  }
  30% {
    transform: translate3d(-150px, -200px, 0) rotate(20deg);
    opacity: 1;
  }
  40% {
    transform: translate3d(-150px, -70px, 0) rotate(-20deg);
    opacity: 1;
  }
  50% {
    transform: translate3d(-150px, -200px, 0) rotate(20deg);
    opacity: 1;
  }
  60% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0) scale(2) rotate(0);
    opacity: 1;
  }
  83% {
    transform: translate3d(0, 0, 0) scale(2) rotate(-20deg);
    opacity: 1;
  }
  87% {
    transform: translate3d(0, 0, 0) scale(2) rotate(20deg);
    opacity: 1;
  }
  91% {
    transform: translate3d(0, 0, 0) scale(2) rotate(-20deg);
    opacity: 1;
  }
  95% {
    transform: translate3d(0, 0, 0) scale(2) rotate(20deg);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes moveGirl1200 {
  0% {
    transform: translate3d(300px, -100px, 0);
    opacity: 0;
  }
  20% {
    transform: translate3d(-110px, -70px, 0) rotate(-40deg);
    opacity: 1;
  }
  30% {
    transform: translate3d(-110px, -300px, 0) rotate(20deg);
    opacity: 1;
  }
  40% {
    transform: translate3d(-110px, -70px, 0) rotate(-20deg);
    opacity: 1;
  }
  50% {
    transform: translate3d(-110px, -300px, 0) rotate(20deg);
    opacity: 1;
  }
  60% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0) scale(2) rotate(0);
    opacity: 1;
  }
  83% {
    transform: translate3d(0, 0, 0) scale(2) rotate(-20deg);
    opacity: 1;
  }
  87% {
    transform: translate3d(0, 0, 0) scale(2) rotate(20deg);
    opacity: 1;
  }
  91% {
    transform: translate3d(0, 0, 0) scale(2) rotate(-20deg);
    opacity: 1;
  }
  95% {
    transform: translate3d(0, 0, 0) scale(2) rotate(20deg);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
