.header {
  background-color: var(--header-background);
  overflow: hidden;

  // &:hover {
  //   animation-name: changeBgColor;
  //   animation-duration: 3000ms;
  //   animation-duration: 5s;
  //   animation-timing-function: linear;
  //   animation-iteration-count: infinite;
  // }

  // @keyframes changeBgColor {
  //   0% {
  //     background-color: teal;
  //   }

  //   50% {
  //     background-color: orange;
  //   }

  //   100% {
  //     background-color: deepskyblue;
  //   }
  // }

  &__nav {
    z-index: 4;
    position: fixed;
    top: 8px;
    left: 20px;
    display: flex;
    width: 100vw;
    padding: 8px 20px;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      padding: 32px 32px 5px 32px;
    }

    @media screen and (min-width: 1200px) {
      padding: 37px 16px 5px 16px;
    }

    // Remove style if needed: glass background-----------------------

    background: #ffffff33;
    box-shadow: 0 8px 32px 0 var(--header-menu),
      inset 0 0 10px 5px var(--header-menu);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    border-bottom: 1px solid var(--header-menu);

    // Remove style if needed: glass background-----------------------

    transform: translate3d(-20px, -8px, 0);
  }

  &__link {
    display: inline-flex;
    flex-grow: 1;

    @media screen and (min-width: 1200px) {
      flex-grow: 0;
    }
  }

  &__logo {
    width: 199px;
    height: 50px;
  }

  &__switcher {
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 32px;

    background-color: transparent;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__icon {
    &--invite {
      width: 10px;
      height: 10px;

      transition: transform 250ms var(--animation-function);

      .header__order:hover &,
      .header__order:focus & {
        transform: translate3d(15px, 0, 0);
      }
    }
  }

  &__invite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    height: 100%;
    stroke: var(--accent-color);
    fill: transparent;
  }

  &__arrow {
    stroke: var(--accent-color);
    fill: transparent;
  }

  &__open {
    width: 20px;
    height: 14px;
    stroke: var(--accent-color);

    opacity: 1;

    transform-origin: center center;

    transition: opacity 250ms var(--animation-function),
      transform 250ms var(--animation-function);

    .header__switcher.is-open & {
      transform: rotate(180deg) scale(3);
      opacity: 0;
    }
  }

  &__close {
    width: 16px;
    height: 16px;
    stroke: var(--third-text-color);

    opacity: 0;

    transform-origin: center center;

    transition: opacity 250ms var(--animation-function),
      transform 250ms var(--animation-function);

    .header__switcher.is-open & {
      transform: rotate(180deg) scale(3);
      opacity: 1;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    z-index: 5;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    background-color: var(--header-menu);
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(4px);

    transform: translate3d(100%, 0, 0);
    transition: opacity 250ms var(--animation-function),
      transform 250ms var(--animation-function),
      visibility 250ms var(--animation-function);

    &.is-open {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 20px;

    &--desktop {
      display: none;
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
    }
  }

  &__order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: inline-flex;
    align-items: center;
    text-align: center;
    max-width: 210px;
    margin-top: 60px;
    margin-bottom: 19px;
    height: 44px;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: auto;
    margin-right: auto;

    // Remove style if needed: shadow on buttons
    box-shadow: 0 4px 8px 0 var(--header-menu),
      inset 0 0 2px 0 var(--header-menu);

    color: var(--accent-color);
    background-color: #fff;

    border-radius: 22px;

    transition: background-color 250ms var(--animation-function),
      transform 250ms var(--animation-function),
      box-shadow 700ms var(--animation-function);

    &:hover,
    &:focus {
      background-color: var(--header-anchor);
      transform: scale(1.3);
      box-shadow: 0 4px 8px 0 var(--accent-color),
        inset 0 0 2px 0 var(--accent-color);
    }

    &--none {
      display: none;
      margin: 0;

      @media screen and (min-width: 768px) {
        display: flex;
      }

      transition: background-color 250ms var(--animation-function),
        transform 250ms var(--animation-function),
        box-shadow 700ms var(--animation-function);

      &:hover,
      &:focus {
        background-color: var(--header-anchor);
        transform: translate3d(-10px, -5px, 0) scale(1.15);

        @media screen and (min-width: 1200px) {
          transform: translate3d(-30px, -10px, 0) scale(1.15);
        }
      }
    }
  }

  &__item {
    display: inline-flex;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__mobile-item {
    display: inline-flex;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    &:nth-child(n) {
      border-top: 1px solid #e1849ab3;
    }

    &:last-child {
      border-bottom: 1px solid #e1849ab3;
    }
  }

  &__anchor {
    display: flex;
    align-items: center;
    height: 42px;
    width: 100%;
    color: var(--third-text-color);
    border-radius: 20px;

    transition: color 250ms var(--animation-function),
      box-shadow 250ms var(--animation-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
      box-shadow: inset 0 0 16px 0;
    }

    &--clear {
      &:hover,
      &:focus {
        color: var(--accent-color);
        box-shadow: none;
      }
    }
  }

  &__jump-to {
    // Remove style if needed: shadow on text
    text-shadow: 1px 1px 3px var(--header-background);

    transition: transform 250ms var(--animation-function);

    .header__anchor:hover &,
    .header__anchor:focus & {
      transform: scale(1.33) translate3d(66px, 0, 0);
    }

    @media screen and (min-width: 768px) {
      .header__anchor:hover &,
      .header__anchor:focus & {
        transform: scale(2) translate3d(100px, 0, 0);
      }
    }

    @media screen and (min-width: 1200px) {
      .header__anchor:hover &,
      .header__anchor:focus & {
        transform: scale(1.35) translate3d(0, 0, 0);
      }
    }

    &--accent {
      text-shadow: 1px 3px 10px var(--accent-color);
    }
  }
}

.hero {
  position: relative;
  display: flex;
  padding: 0;
  justify-content: space-between;
  max-height: 502px;
  height: 100vh;

  @media screen and (min-width: 768px) {
    max-height: 416px;
  }

  @media screen and (min-width: 1200px) {
    max-height: 664px;
  }

  &__blurry {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    backdrop-filter: blur(6px);

    opacity: 0;

    // Blurry background of Hero
    background: #ffffff33;
    box-shadow: 0 8px 32px 0 var(--header-menu);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-bottom-left-radius: 33%;
    border-bottom-right-radius: 33%;

    border-bottom: 3px solid #ffffff2e;
    //

    transform: translate3d(0, -100%, 0);

    transition: opacity 250ms var(--animation-function),
      transform 1000ms var(--animation-function) 100ms;

    .hero.is-blurry & {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__box {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 2;
    height: 100%;

    padding-top: 194px;

    @media screen and (min-width: 768px) {
      padding-top: 102px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 147px;
    }

    &--hidden {
      display: none;
      padding: 0;
      padding-top: 92px;

      @media screen and (min-width: 768px) {
        display: inline-flex;
      }
      @media screen and (min-width: 1200px) {
        padding-top: 152px;
      }
    }
  }

  &__main {
    @media screen and (min-width: 768px) {
      margin-bottom: 61px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 108px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 220px;
    width: 100%;

    font-family: var(--secondary-font);
    color: var(--third-text-color);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
      max-width: 165px;
      font-size: 22px;
      line-height: 1.13;
    }

    @media screen and (min-width: 1200px) {
      max-width: 230px;
      font-size: 38px;
      line-height: 1.15;
    }
  }

  &__label {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 48px;
    line-height: 0.965;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.905;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 58px;
      letter-spacing: 0.04em;
    }
  }

  &__anchor {
    display: inline-flex;
    justify-content: center;
    padding: 11px 23px;
    border-radius: 20px;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    background-color: var(--accent-color);
    color: var(--third-text-color);

    box-shadow: inset 0 0 2px 0 var(--header-menu);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.28;
    }

    transition: transform 250ms var(--animation-function),
      box-shadow 250ms var(--animation-function);

    &:hover,
    &:focus {
      transform: scale(1.3) translate3d(-5px, 0, 0);
      box-shadow: 0 7px 20px 2px var(--header-menu);
    }

    &--inversed {
      background-color: #fff;
      color: var(--accent-color);
      margin-left: 8px;

      box-shadow: 0 4px 8px 0px var(--header-menu),
        inset 0 0 2px 2 var(--header-menu);

      @media screen and (min-width: 1200px) {
        margin-left: 12px;
      }

      transition: transform 250ms var(--animation-function),
        box-shadow 250ms var(--animation-function);

      &:hover,
      &:focus {
        transform: scale(1.3) translate3d(7px, 0, 0);
        box-shadow: 0 7px 20px 2px var(--header-menu);
      }
    }
  }

  &__hidden {
    display: none;
    padding-left: 152px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      padding-left: 213px;
    }
  }

  &__paragraph {
    display: flex;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    max-width: 122px;
    margin-bottom: 7px;

    color: var(--third-text-color);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.4;
      max-width: 200px;
      margin-bottom: 20px;
    }
  }

  &__link {
    width: 100%;
  }

  &__explanation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 18px;
    width: 18px;

    background-color: var(--third-text-color);
    transition: transform 250ms var(--animation-function),
      background-color 250ms var(--animation-function),
      box-shadow 250ms var(--animation-function);

    .hero__link:hover &,
    .hero__link:focus & {
      transform: scale(1.3) translate3d(33px, 0, 0);
      background-color: var(--header-anchor);
      box-shadow: 0 5px 10px 6px var(--header-menu);
    }

    @media screen and (min-width: 1200px) {
      height: 26px;
      width: 26px;
    }
  }

  &__icecream {
    z-index: 1;
    position: absolute;
    left: 20px;
    bottom: 0;

    max-width: 346px;
    max-height: 419px;
    width: 100%;

    transform-origin: center bottom;

    animation-name: moveIceCream;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    @media screen and (min-width: 768px) {
      left: 216px;
      max-width: 335px;
      max-height: 373px;
    }

    @media screen and (min-width: 1200px) {
      left: 517px;
      max-width: 534px;
      max-height: 611px;
    }
  }

  &__milk {
    z-index: 1;
    position: absolute;
    display: none;

    max-width: 152px;
    max-height: 154px;
    width: 100%;

    left: 0;
    bottom: 16px;

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      bottom: 60px;
      max-width: 213px;
      max-height: 216px;
    }
  }

  &__girl {
    z-index: 1;
    position: absolute;
    display: none;

    max-width: 190px;
    max-height: 150px;
    width: 100%;

    right: 0;
    bottom: 0;

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      max-width: 304px;
      max-height: 241px;
    }
  }

  &__amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding-right: 10px;

    font-family: var(--secondary-font);
    color: var(--accent-color);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    z-index: 2;

    & + & {
      margin-top: 16px;
      @media screen and (min-width: 1200px) {
        margin-top: 15px;
      }
    }

    @media screen and (min-width: 1200px) {
      min-height: 70px;
      padding-right: 18px;
      font-size: 46px;
      line-height: 1.15;
    }
  }

  &__description {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.005em;
    color: var(--third-text-color);
    text-transform: lowercase;
  }

  &__circle {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    background-color: var(--third-text-color);
    border-radius: 50%;

    z-index: -1;

    @media screen and (min-width: 1200px) {
      width: 30px;
      height: 30px;
    }
  }
}

@keyframes moveIceCream {
  0% {
    transform: rotate(40px);
  }
  25% {
    transform: rotate(-30px);
  }
  43% {
    transform: rotate(20deg);
  }

  67% {
    transform: rotate(-10deg);
  }

  82% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}
