html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  font-style: normal;
}

p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0px;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.button {
  font: inherit;
  border: none;
  margin: 0;
  cursor: pointer;
  padding: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::-webkit-scrollbar {
  color: var(--accent-color);
  background-color: rgba(255, 165, 186, 0.5);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    animation: changeBgColor 3000ms linear infinite alternate;
    border-radius: 10px;
  }

@keyframes changeColor {
  0% {
    color: rgba(198, 226, 151, 0.5);
  }

  50% {
    color: rgba(212, 20, 67, 0.5);
  }

  100% {
    color: #fbe9e9;
  }
}

@keyframes changeBgColor {
  0% {
    background-color: rgba(198, 226, 151, 0.5);
  }

  50% {
    background-color: rgba(212, 20, 67, 0.5);
  }

  100% {
    background-color: #fbe9e9;
  }
}

@keyframes changeBgColorWhite {
  0% {
    background-color: #ffffff;
  }

  100% {
    background-color: #ffa5ba;
  }
}