:root {
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;

  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --third-text-color: #ffffff;
  --brand-color: #ffa5ba;
  --accent-color: #d41443;
  --header-background: #ffb8ca;
  --header-background-transparent: #ffb8cab3;
  --header-menu: #e17a92b3;
  --header-anchor: #ecebeb;
  --accent-color-transparent: #d41443b3;

  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
