:root {
    --main-font: 'DM Sans', sans-serif;
    --secondary-font: 'Titan One', cursive;

    --primary-text-color: #000000;
    --secondary-text-color: #907E82;
    --third-text-color: #FFFFFF;
    --brand-color: #FFA5BA;
    --accent-color: #D41443;

    --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}