<section class="section about">
    <div class="container">
        <p class="about__title--element">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__meta">
            <img src="././images/about__milkcow.png" 
                alt="cow and bio milk"
                width="280px"
                height="279px"
                class="about__photo">
            <h3 class="about__meta--title">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </h3>
            <p class="about__description">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                
                Aliquam erat volutpat. Aenean accumsan.
            </p>
        </div>
        <button type="button" class="about__btn button">
            Read more
            <svg width="5px" height="8px" class="about__btn--icon">
                <use href="././images/sprite.svg#btn-icon"></use>
            </svg>
        </button>
    </div>
</section>