<a class="visually-hidden" href="#how" id="how"></a>
<section class="section about">
    <div class="container">
        <p class="about__title--element">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__meta">
            <div class="about__photo--thumb">
                <img srcset="./images/about__milkcow@2x.png 1x, 
                            ./images/about__milkcow@3x.png 2x" src="./images/about__milkcow.png" class="about__photo"
                    alt="cow and bio milk">
            </div>
            <div class="about__meta--box">
                <h3 class="about__meta--title">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros. Maecenas eleifend erat at justo fringilla.
                </h3>
                <p class="about__description">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
                    massa nibh, tincidunt.

                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="about__btn button" about-button>
                    <span class="about__open">Read more</span>
                    <span class="about__close">Close me</span>
                    <svg class="header__icon--invite">
                        <use class="header__arrow" href="./images/sprite.svg#buy-arrow"></use>
                    </svg>
                </button>
                <div class="about__menu" about-menu>
                    <p class="about__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quia
                        exercitationem dolores rerum
                        molestiae ut, inventore totam repellat quos perferendis a animi in nesciunt recusandae error,
                        veniam consectetur magnam et!
                        Dicta assumenda ipsam consequuntur. Quisquam voluptas cum necessitatibus dicta nemo eos ipsum
                        enim nostrum quas praesentium pariatur exercitationem accusantium doloribus natus, delectus
                        quaerat dolore architecto excepturi explicabo nesciunt, aliquam fugiat?
                        Repellendus, cum dolorem laudantium iusto voluptate voluptatem modi tenetur eaque animi autem
                        suscipit, doloremque et praesentium architecto dicta dolor quas minus saepe eos tempore ea
                        consequuntur quis necessitatibus accusamus. Quod.
                        Dolores veniam officiis corrupti. Natus commodi fugit laudantium quas esse odio fugiat quidem,
                        optio adipisci excepturi itaque molestias odit in tempore, hic facilis exercitationem? Illo iste
                        quo officiis minima magnam!
                        Voluptatibus aspernatur aperiam cupiditate expedita autem nemo molestias facilis, odio libero
                        maxime ex, veniam eligendi, sapiente eveniet. Dolore accusamus maiores, cupiditate voluptatem
                        iste non expedita possimus reprehenderit architecto sapiente natus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="./about.js"></script>