<section class="section about">
    <div class="container">
        <p class="about__title--element">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__meta">
            <div class="about__photo--thumb">
                <img 
                    srcset="./images/about__milkcow@2x.png 1x, 
                            ./images/about__milkcow@3x.png 2x"
                    src="./images/about__milkcow.png" 
                    class="about__photo"
                    alt="cow and bio milk"
                    >
            </div>
                <div class="about__meta--box">
                    <h3 class="about__meta--title">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </h3>
                <p class="about__description">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="about__btn button">
                Read more
                    <svg width="9px" height="9px" class="about__btn--icon">
                        <use href="./images/sprite.svg#arrow-next"></use>
                    </svg>
                </button>
                </div>
        </div>
    </div>
</section>
