<section class="section contacts">
    <div class="container container-contacts">
        <h2 class="contacts__title is-hidden">contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <ul class="card">
                    <li class="card__type">
                        cafe
                    </li>
                    <li class="card__meta">
                        <h3 class="card__location">Chicago</h3>
                        <p class="card__location--description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </li>
                    <li class="card__openings">
                        <p class="card__openings--days">
                            Monday - Friday
                        </p> 
                        <p class="card__openings--time">
                            <time datetime="T08:00-T22:00">08:00 AM - 10:00 PM</time> 
                        </p> 
                        <p class="card__openings--days">
                            Saturday - Sunday
                        </p> 
                        <p class="card__openings--time">
                            <time datetime="T08:00-T16:00">08:00 AM - 16:00 PM</time>
                        </p> 
                    </li>
                    <li class="card__contacts">
                        <a href="tel:+610383766284 " class="card__contact-details">+61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com" class="card__contact-details">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <ul class="card">
                    <li class="card__type--foodtruck">
                        foodtruck
                    </li>
                    <li class="card__meta">
                        <h3 class="card__location">Los Angeles</h3>
                        <p class="card__location--description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </li>
                    <li class="card__openings">
                        <p class="card__openings--days">
                            Monday - Friday
                        </p> 
                        <p class="card__openings--time">
                            <time datetime="T08:00-T22:00">08:00 AM - 10:00 PM</time>
                        </p> 
                        <p class="card__openings--days">
                            Saturday - Sunday
                        </p> 
                        <p class="card__openings--time">
                            <time datetime="T08:00-T16:00">08:00 AM - 16:00 PM</time>
                        </p> 
                    </li>
                    <li class="card__contacts">
                        <a href="tel:+610383766284 " class="card__contact-details">+61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com" class="card__contact-details">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <ul class="card">
                    <li class="card__type">
                        cafe
                    </li>
                    <li class="card__meta">
                        <h3 class="card__location">New York</h3>
                        <p class="card__location--description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </li>
                    <li class="card__openings">
                        <p class="card__openings--days">
                            Monday - Friday
                        </p> 
                        <p class="card__openings--time">
                            <time datetime="T08:00-T22:00">08:00 AM - 10:00 PM</time>
                        </p> 
                        <p class="card__openings--days">
                            Saturday - Sunday
                        </p> 
                        <p class="card__openings--time">
                            <time datetime="T08:00-T16:00">08:00 AM - 16:00 PM</time>
                        </p> 
                    </li>
                    <li class="card__contacts">
                        <a href="tel:+610383766284 " class="card__contact-details">+61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com" class="card__contact-details">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="button-box">
        <button type="button" class="button address-btn" data-modal-open >Our Locations ></button>
        <button type="button" class="button franchise-btn" data-modal-open>Franchise ></button>
        <div class="backdrop is-hidden" data-modal>
            <div class="modal" >
            <button type="button" class="modal__button" data-modal-close >
                <svg class="modal__svg">
                <use href="./images/sprite.svg#Vector"></use>
                </svg></button>
        </div>
    </div>
    </div>
</section>
<script src="./modal.js"></script>