<section class="section review">
  <h2 class="visually-hidden">Our satisfied customers and their review</h2>
  <div class="container">
    <div class="review__slider-box">
      <div class="img-review img-review--box">
        <img src="./images/review__ekaterina.jpg" alt="ekaterina-reviewer">
        <div class="review__quote">
          <div class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
        </div>
        <div class="slider__dot--container">
          <span class="review--decoration"></span>
        </div>
        <div class="slider__meta">
          Ekaterina,Alaska
        </div>
      </div>
      <div class="img-review img-review--box">
        <img src="./images/review__emily.jpg" alt="emily-reviewer">
        <div class="review__quote">
          <div class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
        </div>
        <div class="slider__dot--container">
          <span class="review--decoration"></span>
        </div>
        <div class="slider__meta">
          Emily,Oklahoma
        </div>
      </div>
      <div class="img-review img-review--box">
        <img src="./images/review__jane.jpg" alt="jane-reviewer">
        <div class="review__quote">
          <div class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
        </div>
        <div class="slider__dot--container">
          <span class="review--decoration"></span>
        </div>
        <div class="slider__meta">
          Jane,Boston
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./index.js"></script>
