<section class="section review">
  <div class="container">
    <div class="img-review img-review--box">
      <img 
      src="./images/review__ekaterina.jpg" 
      alt="ekaterina-reviewer">
    </div>
    <div class="review__quote">
      <div class="review__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </div>
    </div>
    <div class="slider">
      <div class="slider__dot--container">
        <span class="slider__dot"></span>
        <span class="slider__dot"></span>
        <span class="slider__dot"></span>
      </div>
    <div class="slider__meta">
      Ekaterina, Alabama
    </div>
    <div class="slider__switcher--container">
      <span class="slider__switcher"></span>
      <span class="slider__switcher"></span>
      <span class="slider__switcher"></span>
    </div>
    </div>
  </div>
</section>