<section class="section reviews">
    <div class="container slider">
        <h2 class="reviews__title is-hidden">Customer-reiews</h2>
        
        <div class="reviews__wrapper">
            <img class="reviews__photo" 
                src="././images/review__emily.jpg" 
                alt="Emily" 
                width="85" 
                height="85"
                for="autor" 
                />
          <blockquote class="reviews__content">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </blockquote>
          <cite class="reviews__autor" id="autor">Emily, Los Angeles</cite>
        </div>
    
    
        <div class="reviews__wrapper">
            <img class="reviews__photo" 
                src="././images/review__jane.jpg" 
                alt="Jane" 
                width="85" 
                height="85"
                for="autor" 
                />
          <blockquote class="reviews__content">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </blockquote>
          <cite class="reviews__autor" id="autor">Emily, Boston</cite>
        </div>
    
    
        <div class="reviews__wrapper">
            <img class="reviews__photo" 
                src="././images/review__ekaterina.jpg" 
                alt="Ekaterina" 
                width="85" 
                height="85"
                for="autor" 
                />
          <blockquote class="reviews__content">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </blockquote>
          <cite class="reviews__autor" id="autor">Ekaterina, Alabama</cite>
        </div>
    
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>    
</div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
</section>
<script src="/src/reviews.js"></script>