<section class="gallery section">
  <h2 class="visually-hidden">Our huge gallery</h2>
  <div class="container gallery__box">
    <div class="thumb">
      <picture>
        <source srcset="./images/compressed-png/big.png 1x 
            , ./images/compressed-png/big@2x.png 2x,
            ./images/compressed-png/big@3x.png 3x" type="image/png" media="(min-width: 1200px)" sizes="1013px" />
        <source srcset="./images/compressed-png/medium.png 1x 
            , ./images/compressed-png/medium@2x.png 2x,
            ./images/compressed-png/medium@3x.png 3x" type="image/png" media="(min-width: 768px)" sizes="768px" />
        <source srcset="./images/compressed-png/small.png 1x,
             ./images/compressed-png/small@2x.png 2x, 
            ./images/compressed-png/small@3x.png" type="image/png" media="(min-width: 320px)" sizes="320px" />
        <img src="./images/compressed-png/small@3x.png" alt="sweets" class="gallery__img" />
      </picture>
    </div>
  </div>
</section>