<a class="visually-hidden" href="#home" id="home" aria-label="You are at home page"></a>
<header class="header">
    <div class="container">
    <nav class="header__nav">
        <a class="header__link" href="./index.html" aria-label="Our awesome logo!">
            <svg class="header__logo">
                <use href="./images/sprite.svg#logo"></use>
            </svg>
        </a>
        <ul class="header__list">
            <li class="header__item"><a class="header__anchor header__anchor--clear" href="#home"
                    aria-label="Link to home page"><span class="header__jump-to header__jump-to--accent">Home</span></a>
            </li>
            <li class="header__item"><a class="header__anchor header__anchor--clear" href="#about"
                    aria-label="Link to about us page"><span class="header__jump-to header__jump-to--accent">About
                        us</span></a>
            </li>
            <li class="header__item"><a class="header__anchor header__anchor--clear" href="#how"
                    aria-label="Link to how it's made page"><span class="header__jump-to header__jump-to--accent">How
                        it's
                        made?</span></a>
            </li>
            <li class="header__item"><a class="header__anchor header__anchor--clear" href="#products"
                    aria-label="Link to our products page"><span class="header__jump-to header__jump-to--accent">Our
                        products</span></a>
            </li>
            <li class="header__item"><a class="header__anchor header__anchor--clear" href="#contacts"
                    aria-label="Link to our contacts page"><span
                        class="header__jump-to header__jump-to--accent">Contacts</span></a>
            </li>
        </ul>
        <button class="button header__switcher" type="button" mobile-menu-button
            aria-label="Open mobile and tablet menu">
            <svg class="header__icon" width="20" height="20">
                <use class="header__open" href="./images/sprite.svg#open-mobile"></use>
            </svg>
        </button>
        <button class="button header__order header__order--none" type="button"
            aria-label="Buy now our awesome ice-cream" order-button>Buy
            now<span class="header__invite header__invite--none">
                <svg class="header__icon--invite">
                    <use class="header__arrow" href="./images/sprite.svg#buy-arrow"></use>
                </svg>
            </span>
        </button>

    </nav>
    </div>
</header>

<main>
    <section class="section hero">
        <div class="container hero__container">
            <div class="hero__box">
                <div class="hero__main">
                    <h1 class="hero__title">ice cream made with<span class="hero__label">passion</span></h1>
                    <a class="hero__anchor" href="#products" aria-label="Link to our products page">Products</a>
                    <a class="hero__anchor hero__anchor--inversed" href="#how"
                        aria-label="Link to how it's made page">How
                        it's
                        made?</a>
                </div>
                <div class="hero__hidden">
                    <p class="hero__paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                    </p>
                    <a class="hero__link" href="" aria-label="Link to explanation page"><span class="hero__explanation">
                            <svg class="header__icon--invite">
                                <use class="header__arrow" href="./images/sprite.svg#buy-arrow">
                                </use>
                            </svg>
                        </span></a>
                </div>
            </div>
            <div class="hero__blurry"></div>
            <picture>
                <source srcset="./images/icecream-desktop-1x.png 1x,
                                                    ./images/icecream-desktop-2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/icecream-tablet-1x.png 1x,
                                                    ./images/icecream-tablet-2x.png 2x" media="(min-width: 768px)" />
                <source srcset="./images/icecream-mobile-1x.png 1x,
                                                    ./images/icecream-mobile-2x.png 2x" media="(min-width: 320px)" />

                <img class="hero__icecream" src="./images/icecream-mobile-1x.png"
                    alt="waffle cone with 6 different ice cream balls" width="346" />
            </picture>
            <picture>
                <source srcset="./images/milk-desktop-1x.png 1x,
                                                    ./images/milk-desktop-2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/milk-tablet-1x.png 1x,
                                                    ./images/milk-tablet-2x.png 2x" media="(min-width: 768px)" />
                <img class="hero__milk" src="./images/milk-tablet-1x.png" alt="milk in jug" width="152" />
            </picture>
            <picture>
                <source srcset="./images/girl-desktop-1x.png 1x,
                                                    ./images/girl-desktop-2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/girl-tablet-1x.png 1x,
                                                    ./images/girl-tablet-2x.png 2x" media="(min-width: 768px)" />
                <img class="hero__girl" src="./images/girl-tablet-1x.png"
                    alt="cute girl in bikini and sunglasses is eating tasty ice-cream" width="190" />
            </picture>
            <div class="hero__box hero__box--hidden">
                <div class="hero__locations">
                    <p class="hero__amount">16<span class="hero__description">cafes</span><span
                            class="hero__circle"></span>
                    </p>
                    <p class="hero__amount">23
                        <span class="hero__description hero__description--alt">food trucks</span><span
                            class="hero__circle"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<div class="mobile" mobile-menu>
    <button class="button header__order" type="button" aria-label="Buy now our awesome ice-cream" order-mobile-btn>Buy
        now<span class="header__invite">
            <svg class="header__icon--invite">
                <use class="header__arrow" href="./images/sprite.svg#buy-arrow"></use>
            </svg>
        </span></button>
    <ul class="header__list--mobile">
        <li class="mobile__item"><a class="header__anchor" href="#home" aria-label="Link to home page"><span
                    class="header__jump-to">Home</span></a>
        </li>
        <li class="mobile__item"><a class="header__anchor" href="#about" aria-label="Link to about us page"><span
                    class="header__jump-to">About us</span></a>
        </li>
        <li class="mobile__item"><a class="header__anchor" href="#how" aria-label="Link to how it's made page"><span
                    class="header__jump-to">How
                    it's made?</span></a>
        </li>
        <li class="mobile__item"><a class="header__anchor" href="#products" aria-label="Link to our products page"><span
                    class="header__jump-to">Our products</span></a>
        </li>
        <li class="mobile__item"><a class="header__anchor" href="#contacts" aria-label="Link to our contacts page"><span
                    class="header__jump-to">Contacts</span></a>
        </li>
    </ul>
    <button class="button mobile__switcher" type="button" mobile-menu-button aria-label="Close mobile and tablet menu">
        <svg class="header__icon" width="20" height="20">
            <use class="mobile__close" href="./images/sprite.svg#close-mobile"></use>
        </svg>
    </button>
    <div class="mobile__order" order-mobile-menu>
        <p class="order-now__info">Order now!</p>
    </div>
</div>
<div class="order-now" order-menu>
    <button class="button header__order header__order--none order-now__button" type="button"
        aria-label="Buy now our awesome ice-cream" order-button>Close me!<span
            class="header__invite header__invite--none">
        </span>
    </button>
    <p class="order-now__info">Order now!</p>
</div>

<script type="module" src="./mobile-menu.js"></script>
<script type="module" src="./order.js"></script>
<script type="module" src="./order-mobile.js"></script>