<a class="visually-hidden" href="#products" id="products" aria-label="You are at Our Products section"></a>
<section class="section products">
    <div class="container container-products">
        <p class="products__uphead">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products-list">
            <li class="products-list__item">
                <h3 class="products-list__title">ice cream</h3>
                <span class="products-list__decoration"></span>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
                    <span class="menu-product" id="menu-product" data-menu-1>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et. dolore magna aliqua facilisis.</span>
                </p>
                <button type="button" class="products-list__button" data-menu-button-1 aria-expanded="false"
                    aria-controls="menu-product" aria-label="Open additional description button"><svg width="11px"
                        height="10px">
                        <use href="/src/images/sprite.svg#arrow-right"></use>
                    </svg></button>

            </li>
            <li class="products-list__item">
                <h3 class="products-list__title">ice coffee</h3>
                <span class="products-list__decoration"></span>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt
                    ut labore et. dolore magna aliqua facilisis.<span class="menu-product-2" id="menu-product-2"
                        data-menu-2>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</span> </p>
                <button type="button" class="products-list__button" data-menu-button-2 aria-expanded="false"
                    aria-controls="menu-product-2" aria-label="Open additional description button"><svg width="11px"
                        height="10px">
                        <use href="/src/images/sprite.svg#arrow-right"></use>
                    </svg></button>

            </li>
            <li class="products-list__item">
                <h3 class="products-list__title">milkshakes</h3>
                <span class="products-list__decoration"></span>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.<span
                        class="menu-product-3" id="menu-product-3" data-menu-3>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</span> </p>
                <button type="button" class="products-list__button" data-menu-button-3 aria-expanded="false"
                    aria-controls="menu-product-3" aria-label="Open additional description button"><svg width="11px"
                        height="10px">
                        <use href="/src/images/sprite.svg#arrow-right"></use>
                    </svg></button>
            </li>
        </ul>
    </div>
</section>

<script src="./mobile.js"></script>